
#editor {
    min-height: 450px;
    font-size: 25px;
    padding: 10px;
}

#editorContainer {
    color: white;
    border: 1px solid white;
    margin-top: 40px;
}

#btnRow {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

#btnRow a {
    color: white;
    text-decoration: none;
}

#btnRow span{
    margin-left: 10px;
    cursor: pointer;
}

.downloadPage{
    /* background: rgb(69, 9, 121);
    background: linear-gradient(120deg, rgba(69, 9, 121, 1) 9%, rgba(19, 159, 232, 1) 100%);
    background-repeat: no-repeat; */
    background-color: #000000;
}